In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

happiness_2015 = pd.read_csv("2015.csv")
happiness_2016 = pd.read_csv("2016.csv")
happiness_2017 = pd.read_csv("2017.csv")
happiness_2018 = pd.read_csv("2018.csv")
happiness_2019 = pd.read_csv("2019.csv")

In [47]:
print(happiness_2015.shape)
print(happiness_2016.shape)
print(happiness_2017.shape)
print(happiness_2018.shape)
print(happiness_2019.shape)

(158, 12)
(157, 13)
(155, 12)
(156, 9)
(156, 9)

In [48]:
happiness_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#### Rename and delete cols

In [49]:
cols_2015 = ['Country', 'Region', 'Happiness_Rank', 'Happiness_Score','Standard_Error', 'Economy', 'Family',
       'Health', 'Freedom', 'Trust','Generosity', 'Dystopia_Residual']

happiness_2015.columns = cols_2015
delete_cols = ['Region', 'Standard_Error', 'Dystopia_Residual']
happiness_2015.drop(delete_cols, axis = 1, inplace=True)
happiness_2015.head()

,Country,Happiness_Rank,Happiness_Score,Economy,Family,Health,Freedom,Trust,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139
3,Norway,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699
4,Canada,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811

In [53]:
cols = ['Country', 'Happiness_Rank', 'Happiness_Score', 'Economy', 'Family', 'Health', 'Freedom', 'Trust','Generosity',]
delete_cols = ['Region', 'Lower Confidence Interval', 'Upper Confidence Interval', 'Dystopia Residual']
#happiness_2016.drop(delete_cols, axis=1, inplace=True)
happiness_2016.columns = cols
happiness_2016.head()

,Country,Happiness_Rank,Happiness_Score,Economy,Family,Health,Freedom,Trust,Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678
3,Norway,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895
4,Finland,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492

In [56]:
delete_cols = ['Whisker.high', 'Whisker.low', 'Dystopia.Residual']
#happiness_2017.drop(delete_cols, axis=1, inplace=True)
happiness_2017.columns = cols
happiness_2017.head()

,Country,Happiness_Rank,Happiness_Score,Economy,Family,Health,Freedom,Trust,Generosity
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612